<article class='portada'>
    <h1>Bienvenidxs</h1>
</article>

<div class="container d-flex justify-content-center align-items-center">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/logonegro.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">#40AÑOS</h2>
          <p class="card-text">Brindamos servicio personalizado.<br> Elegí tu menú, elegí lo que te gusta </p>
        </div>
      </div>
    </div>
  </div>
</div>
  
  